.articles{
    background: #FBFBFB;
    padding-top: 125px;
    padding-bottom: 140px;
    &__posts{
        margin-top: 60px;
        display: grid;
        grid-template-columns: 400px 600px 400px;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 60px;
    }
    &__post{
        cursor: pointer;
        transition: all .2s ease-out;
        &:hover{
            transform: scale(1.05);
        }
        &-img{
            width: 100%;
            object-fit: cover;
            border-radius: 20px;
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        }
        &-body{
            margin-top: 35px;
        }
        &-title{
            font-size: 26px;
            color: $main-color;
            font-weight: 700;   
        }
        &-text{
            font-size: 14px;
            line-height: 21px;
            font-weight: 400;
            color: $main-color;
            margin-top: 7px;
        }
        &-author{
            margin-top: 10px;
            display: flex;
            align-items: center;
            img{
                margin-right: 15px;
                width: 45px;
                height: 45px;
            }
        }
        &-name{
            font-size: 18px;
            color:$main-color;
        }
        &-time{
            font-size: 14px;
            color: $main-color;
        }
    }
}
@media (max-width: 1540px){
    .articles{
        &__posts{
            grid-template-columns: 370px 470px 370px;
        }
    }
}
@media (max-width: 1400px){
    .articles{
        &__posts{
            grid-template-columns: 350px 400px 350px;
        }
        &__post{
            &:hover{
                transform: unset;
            }
        }
    }
}
@media (max-width: 1200px){
    .articles{
        padding-top: 75px;
        padding-bottom: 80px;
        &__posts{
            grid-template-columns: 1fr;
            grid-template-rows: auto;
            
        }
        &__post{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-bottom: 40px;
            
            &-text{
                text-align: center;
            }
            &-img{
                width: auto;
            }
            &-body{
                max-width: 500px;
                margin-top: 15px;
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }
    }
}
@media (max-width: 768px){
    .articles{
        &__post{
            &-img{
                width: 100%
            }
        }
    }
}
@media (max-width: 576px){
    .articles{
        &__post{
            &-title{
                font-size: 21px;
            }
        }
    }
}