.benefits{
    padding-top: 125px;
    padding-bottom: 140px;
    background: #FBFBFB;
    &__items{
        margin-top: 60px;
        display: grid;
        grid-template-columns: repeat(3,410px);
        justify-content: space-between;
        row-gap: 100px;
    }
    &__item{
        border-radius: 30px;
        &-title{
            background: #82B21E;
            border: 3px solid #FFFFFF;
            box-sizing: border-box;
            border-radius: 30px 30px 0 0;
            text-align: center;
            padding: 24px 0 28px 0;
            color: #FFFFFF;
            font-size: 24px;
            line-height: 29px;
            font-weight: 700;
        }
        &-text{
            box-shadow: 30px 30px 100px rgba(0, 0, 0, 0.08);
            text-align: center;
            border-radius: 0px 0px 30px 30px;
            background: #FFFFFF;
            padding: 26px 47px 34px;
            font-size: 20px;
            font-weight: 400;
            line-height: 25px;
            color: #77953B;
            min-height: 210px;
        }
    }
}
@media (max-width: 1400px){
    .benefits{
        &__items{
            grid-template-columns: repeat(3,340px);
        }
        &__item{
            &-text{
                font-size: 18px;
                line-height: 23px;
                padding: 20px 47px 25px;
            }
            &-title{
                padding: 20px 0 20px 0;
                font-size: 21px;
                line-height: 24px;
            }
        }
    }
}
@media (max-width: 1200px){
   
    .benefits{
        &__items{
            grid-template-columns: repeat(2,340px);
            justify-content: space-around;
            row-gap: 70px;
        }
    }
       
}
@media (max-width: 992px){
    .benefits{
        padding-top: 65px;
        padding-bottom: 75px;
        &__item{
            &-text{
                min-height: 205px;
            }
        }
    }
}
@media (max-width: 768px){
    .benefits{
        &__items{
            grid-template-columns: 1fr;
        }
        &__item{
            &-text{
                min-height: unset;
            }
        }
    }
}
@media (max-width: 576px){
    .benefits{
        &__item{
            &-text{
                font-size: 17px;
                line-height: 20px;
                padding: 20px 25px 25px;
            }
            &-title{
                font-size: 18px;
                line-height: 20px;
            }
        }
    }
    
}