.consultation{
    padding-top: 120px; 
    padding-bottom: 140px;
    &__wrapper{
        margin: 60px auto 0;
        max-width: 735px;
        background-color: #fff;
        box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.2);
        border-radius: 30px;
        padding: 50px 70px 35px 70px;
    }
    &__form{
        &-top{
            display: flex;
            justify-content: space-between;
            margin-bottom: 35px;
        }
        &-input{
            width: 280px;
            height: 60px;
            padding-left: 20px;
            color: $main-color;
            font-size: 14px;
            font-weight: 600;
            border: 2px solid rgba(119, 149, 59, 0.3);
            box-sizing: border-box;
            border-radius: 4px;
            outline: none;
        }
        textarea{
            width: 100%;
            resize: none;
            border: 2px solid rgba(119, 149, 59, 0.3);
            box-sizing: border-box;
            outline: none;
            border-radius: 5px;
            padding-top: 20px;
            padding-left: 20px;
            height: 180px;
            margin-bottom: 35px;
        }
        .btn{
            outline: none;
            border: none;
        }
    }
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    $main-color;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    $main-color;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    $main-color;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    $main-color;
}
@media (max-width: 992px){
    .consultation__form-input{
        width: 240px;
    }
}
@media (max-width: 768px){
    .consultation{
        padding-top: 90px;
        padding-bottom: 70px;
    }
    .consultation__wrapper{
        padding: 50px 30px 35px 30px;
    }
    .consultation__form-input{
        width: 210px;
    }
}
@media (max-width: 520px){
    .consultation__form-top{
        flex-direction: column;
    }
    .consultation__form-input{
        width: 100%;
        margin-bottom: 10px;
    }
}