.review{
    padding-top: 120px;
    padding-bottom: 140px;
    &__slider{
        // margin-top: 45px;
        max-width:1225px;
        box-shadow: 30px 30px 100px rgba(0, 0, 0, 0.08);
        border-radius: 30px;
        margin: 45px auto 0px;
        background: #FFFFFF;
        position: relative;
    }
    &__slide{
        padding: 60px 135px 45px 140px;
        &-text{
            font-size: 24px;
            color: $main-color;
            line-height: 34px;
            font-weight: 400;
            position: relative;
            &::before{
                content: "";
                position: absolute;
                width: 138px;
                height: 100px;
                background: url('../icons/slider/quote/top.svg');
                top: -45px;
                left: -15px;
            }
            &::after{
                content: "";
                position: absolute;
                width: 138px;
                height: 98px;
                background: url('../icons/slider/quote/bottom.svg');
                right: -15px;
                bottom: -45px;
            }
        }
        &-author{
            margin-top: 35px;
            display: flex;
            align-items: center;
            span{
                margin-left: 35px;
                font-weight: 600;
                font-size: 24px;
                color: #77953B;
            }
        }
    }
    .slick-arrow{
        background: transparent;
        border: none;
        outline: none;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
    .slick-prev{
        left: -90px;
    }
    .slick-next{
        right: -90px;
    }
}
@media (max-width: 1540px){
    .review{
        &__slide{
            padding: 60px 35px 45px 60px;
            &-text{
                font-size: 22px;
            }
        }
    }
}
@media (max-width: 1400px){
    .review{
        &__slider{
            max-width: 1000px;
        }
        &__slide{
            padding: 44px 15px 45px 25px;
            &-text{
                &::before{
                    top: -35px;
                    left: 20px;
                }
                &::after{
                    bottom: -45px;
                    right: 20px;
                }
            }
        }
    }
}
@media (max-width: 1200px){ 
    .review{
        &__slide{
            &-text{
                font-size: 18px;
                line-height: 27px;
            }
        }
    }
}
@media (max-width: 450px){
    .review{
        &__slide{
            &-text{
                font-size: 16px;
                line-height: 23px;
            }
        }
    }
}