.footer{
    padding-top: 140px;
    padding-bottom: 30px;
    &__logo{
        max-width: 240px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &-title{
            font-size: 34px;
            color: #82b21e;
            text-align: center;
            text-transform: uppercase;
            font-weight: 500;
        }
    }
    &__wrapper{
        display: grid;
        grid-template-columns: 380px 340px auto;
    }
    &__top{
        margin-bottom: 70px;
        display: flex;
        justify-content: space-between;
        align-items: start;
    }
    &__item{
        padding-bottom: 40px;
        &-adress{
            margin-bottom: 30px;
            display: block;
            font-size: 18px;
            color: #77953B;
            font-weight: 400;
            line-height: 20px;
        }
        &-number{
            display: flex;
            flex-direction: column;
            margin-bottom: 35px;
            a{
                font-size: 18px;
                color: #77953B;
                font-weight: 400;
                line-height: 20px;
                text-decoration: none;
                &:hover{
                    text-decoration: none;
                    color: #77953B;
                }
            }
        }
        &-mail{
            font-size: 18px;
            color: #77953B;
            font-weight: 400;
            line-height: 20px;
            text-decoration: none;
            &:hover{
                text-decoration: none;
                color: #77953B;
            }
        }
        &-title{
            color: #82B21E;
            font-size: 21px;
            font-weight: 700;
            text-transform: uppercase;
            margin-bottom: 30px;
        }
        &-menu{
            padding: 0;
            list-style-type: none;
            li{
                font-size: 18px;
                color: #77953B;
                font-weight: 400;
            }
        }
        &:nth-child(2){
            padding-left: 70px;
            border-left: 2px solid rgba(116, 140, 38, 0.5);
        }
        &:nth-child(3){
            padding-left: 70px;
            border-left: 2px solid rgba(116, 140, 38, 0.5);
        }
    }
    &__rights{
        padding-top: 30px;
        border-top: 2px solid rgba(116, 140, 38, 0.5);
        display: flex;
        justify-content: space-between;
        color: #77953B;
        font-size: 18px;
        align-items: center;
        svg{
            margin-left: 15px;
        }
    }
}
@media (max-width: 1400px){
    .footer{
        padding-top: 100px;
        &__top{
            flex-direction: column;
            align-items: center;
        }
        &__logo{
            margin-bottom: 40px;
        }
    }
}
@media (max-width: 1200px){
    .footer{
        &__wrapper{
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
}
@media (max-width: 992px){
    .footer{
        &__wrapper{
            grid-template-columns: 1fr;
        }
        &__item{
            text-align: center;
            &:nth-child(2){
                padding-left: 0px;
                border-left: unset;
            }
            &:nth-child(3){
                padding-left: 0px;
                border-left: unset;
            }
        }
    }
}
@media (max-width: 768px){
    .footer{
        &__rights{
            padding-top: 10px;
            flex-direction: column;
        }
    }
}
@media (max-width: 576px){
    .footer{
        &__rights{
            font-size: 16px;
        }
        &__item{
            &-title{
                margin-bottom: 10px;
            }
            &-menu{
                li{
                    font-size: 17px;
                }
            }
        }
    }
}