@import 'libs/bootstrap-reboot.min';
@import 'libs/_bootstrap-grid.min.scss';
@import "base/variables";
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import 'libs/_animate.min.css';

*{
    font-family: 'Fira Sans', sans-serif;
    margin: 0;
    padding: 0;
}

.title{
    color: #82B21E;
    font-weight: 700;
    text-align: center; 
}
.subtitle{
    font-size: 27px;
    color: #77953B;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0.01em;
    text-align: center; 
}
.fz54{
    font-size: 54px;
}
.fz72{
    font-size: 72px;
}
.mauto{
    margin: 0 auto;
}
.fcolor{
    color: #fff!important;
}
.mainbg{
    background-color: $main-color!important;
    color: #fff!important;
}
.w247px{
    width: 247px!important;
}
.h55px {
    height: 55px!important;
}
.fff{
    color: #fff!important;
}
@media (min-width: 2000px){
    .slick-initialized .slick-slide{
        display: flex !important;
        justify-content: center!important;
    }
}
@media (min-width: 1540px){    
    .container{
        max-width: 1460px;
    }
}
@media (max-width: 1400px){
    .fz54{
        font-size: 45px;
    }
    .fz72 {
        font-size: 65px;
    }
    .subtitle{
        font-size: 24px;
        line-height: 33px;
    }
}
@media (max-width: 1200px){
    .fz72 {
        font-size: 55px;
    }
}
@media (max-width: 992px){
    .fz54{
        font-size: 35px;
    }
    .fz72 {
        font-size: 40px;
    }
    .subtitle{
        font-size: 19px;
        line-height: 23px;
    }
}
@media (max-width: 768px){
    .fz54{
        font-size: 26px;
    }
    .fz72 {
        font-size: 33px;
    }
    .subtitle{
        font-size: 16px;
        line-height: 21px;
    }
}
@media (max-width: 576px){
    .fz72 {
        font-size: 26px;
    }
}




@import "blocks/btns";
@import "blocks/header/header";
@import "blocks/main-sec";
@import "blocks/servives";
@import "blocks/benefits";
@import "blocks/personal";
@import "blocks/conditions";
@import "blocks/specialist";
@import "blocks/price";
@import "blocks/getprice";
@import "blocks/review";
@import "blocks/articles";
@import "blocks/info";
@import "blocks/branches";
@import "blocks/consultation";
@import "blocks/footer/footer";

.modal{
    display: none;
    z-index: 150;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    &__content{
        position: fixed;
        left: 50%;
        top: 50%;
        border-radius: 4px;
        transform: translate(-50%, -50%) !important;
        background: #FFFFFF;
        box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.2);
        border-radius: 30px;
        padding: 25px 70px 35px;
        &-top{
            margin-bottom: 30px;
        }
        &-title{
            color: $main-color;
            font-size: 36px;
            font-weight: 600;
            text-align: center;
        }
        &-subtitle{
            font-size: 18px;
            color: #77953B;
            text-align: center;
        }
        &-form{
            display: flex;
            flex-direction: column;
            input{
                margin-bottom: 35px;
                height: 60px;
                padding-left: 20px;
                color: $main-color;
                font-size: 14px;
                font-weight: 600;
                border: 2px solid rgba(119, 149, 59, 0.3);
                box-sizing: border-box;
                border-radius: 4px;
                outline: none;
            }
            .btn{
                outline: none;
                border: none;
            }
        }
    }
}
@media (max-width: 1200px){
    .modal__content-title{
        font-size: 30px;
    }
    .modal__content{
        padding: 25px 30px 35px;
    }
}
@media (max-width: 768px){
    .modal__content-title{
        font-size: 23px;
    }
    .modal__content-subtitle{
        font-size: 15px;
    }
}